/*! NHLPACSS */
:root {
  --size0: .125rem;
  --size1: .25rem;
  --size2: .5rem;
  --size3: 1rem;
  --size4: 2rem;
  --size5: 4rem;
  --size6: 8rem;
  --size7: 16rem;

  --gap: var(--size3);

  --fontsize1: 2.5em;
  --fontsize2: 1.875em;
  --fontsize3: 1.4625em;
  --fontsize4: 1.25em;
  --fontsize5: 1em;
  --fontsize6: .8375em;
  --fontsize7: .75em;

  --lh-solid: 1;
  --lh-title: 1.25;
  --lh-copy: 1.5;

  --bg-body: snow;
  --bg-button: rgba(0, 0, 0, .15);
  --color-text: black;
  --color-link: dodgerblue;
  --border-color: rgba(0, 0, 0, .35);

  --logo: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20273%20274%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h275v276H-1z%22%2F%3E%3Cpath%20d%3D%22m60%20214.8-14.1%2040.9-7.4-40.9h-16L5%20265.8h10.5l14-41%207.4%2041h16l17.5-51zm61.9%200h-11.4l-7.2%2021H81.2l7.2-21H77l-17.5%2051h11.4l7.6-22.1h22.1L93%20265.8h11.4l5.6-16.3%209.7-28.1zm6.2%2034.7%2011.9-34.7h-11.4l-2.3%206.6-9.6%2028.1-5.6%2016.3h38.6l2.7-8h-27.2zm75.6-34.7h-32.5l-4%2011.7h33c5.9%200%205.7%201.6%203.8%206.8-2.3%206.5-4.9%207.1-10.9%207.3h-15.8l4.2-11.9h-15l-7.2%2020.7-5.6%2016.4h15l4.6-13.5h16.9c15.8%200%2021-4.9%2026.1-19%204.8-13.2%201.5-18.5-12.6-18.5zm60.3%2030.7h-28.9l7-20.4%206.3%2018.2h14.9l-9.9-28.5h-22.7l-17.5%2051h14.9l3-8.6h22l2.9%208.6h14.9zM26.9%20182.2c.2%200%201.8.5%202.5.5.8-1.5%201.9-2.7%203-2.7h22c1.6%200%203-.5%204.4-1.2%202.1-1.1%203.9-2.8%205.1-4.1l38.8-46.4c6.1-6.8%205.1-14.8%202.7-16.9-9-7.8-10.2-18-13.3-28.7-2.3-8-7.1-17.7-1.9-26.1%200%200%209.4-13.4%2011.2-14.7l.1-.1v-.1c-2.8-2.2-4.4-5.6-5.2-9-.4%200-.8.1-1.2.1-1.2%200-2.2-.3-2.7-1.5-1-2.7-1.4-8.1-1.3-8.6%200-1.6.2-4%201-5.8%201.3-3%202.6-5.5%204.3-7.2%201.3-1.3%202.8-2.4%204.1-3.1-.5%200-.9-.1-1.3-.1-4.4%200-6.6%202-8.9%204.8a32.7%2032.7%200%200%200-4.6%207.4c-.8%201.8-1%204.2-1%205.8%200%20.5.3%205.8%201.3%208.6.5%201.2%201.5%201.5%202.7%201.5.4%200%20.8%200%201.2-.1.9%203.4%201.9%206.8%204.7%209v.1C92.8%2044.8%2084%2058.3%2084%2058.3c-5.2%208.5-.3%2018.1%201.9%2026.1%201.7%206%208.2%2025.7%2011.7%2028.7%202.5%202.1%204.8%207.9-1.4%2014.7L64%20166.4c-1.2%201.3-3.1%203.1-5.3%204.2-1.2.6-2.6%201-3.9%201l-23.2-.1c-1.2%200-2.3%201.3-3.2%202.9-.4.8-.9%201.7-1.3%202.5-.6%201.3-2.2%204.7-.2%205.3z%22%20class%3D%22a%22%2F%3E%3Cpath%20d%3D%22M97.7%2023.8c0%20.5%201.3%205.8%202.3%208.6.7%201.6%202.1%201.6%203.9%201.4.9%203.4%202.4%206.8%205.2%209v.1c-1.8%201.2-11.2%2014.7-11.2%2014.7-5.2%208.5-.3%2018.1%201.9%2026.1%203%2010.7%204.3%2020.9%2013.3%2028.7%202.3%202%204.8%207.3.5%2013.6l-48.3%2058c-.7.8-1.7%201.8-2.9%202.6-1.9%201.4-4.2%202.7-6.7%202.7l-23.2-.1c-1.2%200-2.2%201.2-3.1%202.8l-.1.1c-.4.8-.9%201.7-1.3%202.5-.6%201.3-2.4%205.3.5%205.3h30.8c2.1%200%204.1-1.2%205.7-2.7.4-.4%2046.1-54.9%2046.1-54.9%200%202.7.8%2011.8%201.5%2013.5%202.1%205.6%2019%2021.5%2023.4%2027.4%200%200-11.4%205.3-12.1%207.1-.7%201.8-.1%204.4.3%205.1.4.7%201.5%201.3%201.7%201.4.4.7%201.5%203%203.5%203h31.1c1.2-.1%201.4-.7%201.1-1.1l-3.2-6.2-.1-1.2c.2-1%20.9-1.8.7-3.1%200%200-11.6-28-12.5-29.9-.7-1.5-4.5-7.9-4.5-7.9.9-.6%2014.2-19%2019.2-23.9%202.2%203.6%208.4%2018.5%2015.3%2024.1%2016.6%2013.3%2038.8%2033.3%2038.8%2033.3-3.7%201.3-6%204.8-6.5%206.3-.8%202.4-.2%204.4.3%205.1.5.7%201.8%201.5%201.8%201.5.3.4%201.4%203.1%203.6%203.1H246c1.8%200%202.1-.7%201.8-1.1l-5.4-7.5c-.1-1%20.3-1.8-.3-3.1%200%200-15.7-26.2-21.5-34-7.3-9.5-17.8-17.5-19.2-25.1-1.4-7.6-6.8-30.9-14.6-41.2-8-10.7-3.6-14.6-1.3-17.5.5-.6%206.2-7.4%207.1-8.9%201.3-1.9%203.9-7.4%204.1-12.4.1-1.5-.1-3-.5-4.4-.7-2.1-2.2-4-4.2-5.9-4.8-4.6-19-17.4-30.7-17.5-3.9%200-5.6-.3-10.9.8-4.3.9-6.6%201.7-10.5%203.6%200%200-6.1%202.8-7.8%202.8%200%200-3.2.5-3.5-5.1-.3-4.6-.3-8.1-1-9.6-.3-.8-.6-1.5-1-2.2-.7-1.2-1.5-2.2-2.4-2.9-1.4-1.1-3-1.6-5.1-2.1l-1.7-.3c-3.3-.4-9.1%201-11.2%202.7-1.6%201.3-6.3%205.9-7.5%208.8-.7%202-.9%204.4-1%206z%22%20class%3D%22a%22%2F%3E%3C%2Fsvg%3E)
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-body: black;
    --bg-button: rgba(255,255,255,.15);
    --color-text: snow;
    --border-color: rgba(255, 255, 255, .35);

    --logo: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20273%20274%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h275v276H-1z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m60%20214.8-14.1%2040.9-7.4-40.9h-16L5%20265.8h10.5l14-41%207.4%2041h16l17.5-51zm61.9%200h-11.4l-7.2%2021H81.2l7.2-21H77l-17.5%2051h11.4l7.6-22.1h22.1L93%20265.8h11.4l5.6-16.3%209.7-28.1zm6.2%2034.7%2011.9-34.7h-11.4l-2.3%206.6-9.6%2028.1-5.6%2016.3h38.6l2.7-8h-27.2zm75.6-34.7h-32.5l-4%2011.7h33c5.9%200%205.7%201.6%203.8%206.8-2.3%206.5-4.9%207.1-10.9%207.3h-15.8l4.2-11.9h-15l-7.2%2020.7-5.6%2016.4h15l4.6-13.5h16.9c15.8%200%2021-4.9%2026.1-19%204.8-13.2%201.5-18.5-12.6-18.5zm60.3%2030.7h-28.9l7-20.4%206.3%2018.2h14.9l-9.9-28.5h-22.7l-17.5%2051h14.9l3-8.6h22l2.9%208.6h14.9zM26.9%20182.2c.2%200%201.8.5%202.5.5.8-1.5%201.9-2.7%203-2.7h22c1.6%200%203-.5%204.4-1.2%202.1-1.1%203.9-2.8%205.1-4.1l38.8-46.4c6.1-6.8%205.1-14.8%202.7-16.9-9-7.8-10.2-18-13.3-28.7-2.3-8-7.1-17.7-1.9-26.1%200%200%209.4-13.4%2011.2-14.7l.1-.1v-.1c-2.8-2.2-4.4-5.6-5.2-9-.4%200-.8.1-1.2.1-1.2%200-2.2-.3-2.7-1.5-1-2.7-1.4-8.1-1.3-8.6%200-1.6.2-4%201-5.8%201.3-3%202.6-5.5%204.3-7.2%201.3-1.3%202.8-2.4%204.1-3.1-.5%200-.9-.1-1.3-.1-4.4%200-6.6%202-8.9%204.8a32.7%2032.7%200%200%200-4.6%207.4c-.8%201.8-1%204.2-1%205.8%200%20.5.3%205.8%201.3%208.6.5%201.2%201.5%201.5%202.7%201.5.4%200%20.8%200%201.2-.1.9%203.4%201.9%206.8%204.7%209v.1C92.8%2044.8%2084%2058.3%2084%2058.3c-5.2%208.5-.3%2018.1%201.9%2026.1%201.7%206%208.2%2025.7%2011.7%2028.7%202.5%202.1%204.8%207.9-1.4%2014.7L64%20166.4c-1.2%201.3-3.1%203.1-5.3%204.2-1.2.6-2.6%201-3.9%201l-23.2-.1c-1.2%200-2.3%201.3-3.2%202.9-.4.8-.9%201.7-1.3%202.5-.6%201.3-2.2%204.7-.2%205.3z%22%20class%3D%22a%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M97.7%2023.8c0%20.5%201.3%205.8%202.3%208.6.7%201.6%202.1%201.6%203.9%201.4.9%203.4%202.4%206.8%205.2%209v.1c-1.8%201.2-11.2%2014.7-11.2%2014.7-5.2%208.5-.3%2018.1%201.9%2026.1%203%2010.7%204.3%2020.9%2013.3%2028.7%202.3%202%204.8%207.3.5%2013.6l-48.3%2058c-.7.8-1.7%201.8-2.9%202.6-1.9%201.4-4.2%202.7-6.7%202.7l-23.2-.1c-1.2%200-2.2%201.2-3.1%202.8l-.1.1c-.4.8-.9%201.7-1.3%202.5-.6%201.3-2.4%205.3.5%205.3h30.8c2.1%200%204.1-1.2%205.7-2.7.4-.4%2046.1-54.9%2046.1-54.9%200%202.7.8%2011.8%201.5%2013.5%202.1%205.6%2019%2021.5%2023.4%2027.4%200%200-11.4%205.3-12.1%207.1-.7%201.8-.1%204.4.3%205.1.4.7%201.5%201.3%201.7%201.4.4.7%201.5%203%203.5%203h31.1c1.2-.1%201.4-.7%201.1-1.1l-3.2-6.2-.1-1.2c.2-1%20.9-1.8.7-3.1%200%200-11.6-28-12.5-29.9-.7-1.5-4.5-7.9-4.5-7.9.9-.6%2014.2-19%2019.2-23.9%202.2%203.6%208.4%2018.5%2015.3%2024.1%2016.6%2013.3%2038.8%2033.3%2038.8%2033.3-3.7%201.3-6%204.8-6.5%206.3-.8%202.4-.2%204.4.3%205.1.5.7%201.8%201.5%201.8%201.5.3.4%201.4%203.1%203.6%203.1H246c1.8%200%202.1-.7%201.8-1.1l-5.4-7.5c-.1-1%20.3-1.8-.3-3.1%200%200-15.7-26.2-21.5-34-7.3-9.5-17.8-17.5-19.2-25.1-1.4-7.6-6.8-30.9-14.6-41.2-8-10.7-3.6-14.6-1.3-17.5.5-.6%206.2-7.4%207.1-8.9%201.3-1.9%203.9-7.4%204.1-12.4.1-1.5-.1-3-.5-4.4-.7-2.1-2.2-4-4.2-5.9-4.8-4.6-19-17.4-30.7-17.5-3.9%200-5.6-.3-10.9.8-4.3.9-6.6%201.7-10.5%203.6%200%200-6.1%202.8-7.8%202.8%200%200-3.2.5-3.5-5.1-.3-4.6-.3-8.1-1-9.6-.3-.8-.6-1.5-1-2.2-.7-1.2-1.5-2.2-2.4-2.9-1.4-1.1-3-1.6-5.1-2.1l-1.7-.3c-3.3-.4-9.1%201-11.2%202.7-1.6%201.3-6.3%205.9-7.5%208.8-.7%202-.9%204.4-1%206z%22%20class%3D%22a%22%2F%3E%3C%2Fsvg%3E)
  }
}

/* Base */
*,*::before,*::after { box-sizing: border-box; margin: 0; padding: 0; color: inherit; line-height: var(--lh-title) }
html, body { height: 100%; margin: 0 }
html { font-size: 16px; scroll-behavior: smooth }
body { background: var(--bg-body); font-size: clamp(.875rem, 1.75vw, 1rem); color: var(--color-text); -webkit-font-smoothing: antialiased; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif }
body * + * { margin-top: var(--gap) }
.nomargin * + * { margin-top: 0 }

/* Shared  */
button,[role='button'], input[type='submit'], input[type='reset'], input[type='button'], table, article, aside, blockquote, pre, code, mark, samp, kbd, time, input, textarea, select, fieldset, img, video { border-radius: 2px }
button, [role='button'], input[type='submit'], input[type='reset'], input[type='button'], pre, samp { padding: calc(var(--gap) * .5) }
button,[role='button'], input[type='submit'], input[type='reset'], input[type='button'], code, mark, kbd, time, pre, samp, aside, blockquote { color: var(--color-text); background: var(--bg-button) }
dt, details > summary, li, option, input, textarea, select { margin: 0 }
article, input, textarea, select, fieldset, fieldset { border: 1px solid var(--border-color) }
h1, h2, h3, h4, h5, h6, h1 small, h2 small, h3 small, button,[role='button'], input[type='submit'], input[type='reset'], input[type='button'] { font-weight: 400 }
code, samp, kbd { font-family: Consolas, monaco, monospace; font-size: 98% }
blockquote, aside, article, .wrap { padding: calc(var(--gap) * .75) var(--gap) }

/* Text */
h1, h2, h3, h4, h5, h6 { line-height: var(--lh-title) }
h1 small, h2 small, h3 small { display: block; font-size: var(--fontsize7); color: dimgray }
h1 { font-size: var(--fontsize1) }
h2 { font-size: var(--fontsize2) }
h3 { font-size: var(--fontsize3) }
h4 { font-size: var(--fontsize4) }
h5 { font-size: var(--fontsize5) }
h6 { font-size: var(--fontsize6) }
p, ul, li, dd { line-height: var(--lh-copy) }
hr { height: 1px; background: var(--border-color); border-style: none }
dd { margin: 0 0 var(--gap); white-space: pre-wrap }
ol, ul { list-style-position: inside; margin: var(--size1) 0 0 var(--size2) }
ol > li > ol, ul > li > ul { margin: 0; padding: 0 calc(var(--gap) * 1.5) }
blockquote { padding-left: var(--gap); border-left: solid .25rem dimgray }
dt, details > summary { font-weight: 700 }

/* Tables */
table { width: 100%; max-width: 100%; border-collapse: collapse }
table caption { color: var(--color-text) }
th, td { padding: var(--size0) var(--size1); text-align: left; vertical-align: top }
th { font-weight: 700 }
thead th { border-bottom: solid var(--size0) dimgray }
tfoot th { border-top: solid var(--size0) dimgray }
tr:nth-child(odd) td { background-color: var(--bg-button) }
tr:hover td { background-color: #cdecff}

/* Inline Text */
a { color: var(--color-link) }
code, mark, kbd, time { padding: 0 var(--size1) }
mark, time { color: black }
mark { background: gold }
time { background: lightcyan }
pre, sam, pre > code { line-height: 1.15 }
pre, samp { display: block; font-size: .875rem;  }
pre > code { background: inherit; color: inherit }

/* Forms */
[readonly], [disabled] { opacity: .6 }
[disabled] { cursor: not-allowed }
label, input, textarea, select, fieldset, button { line-height: var(--lh-solid) !important }
input, button, textarea, select, fieldset { font: inherit }
textarea, select, input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=file]):not([type=radio]):not([type=range]):not([type=reset]):not([type=submit]) { display: block; width: 100%; background: var(--bg-body) }
input, textarea { padding: .3125rem var(--size2) }
input:user-invalid, select:user-invalid, textarea:user-invalid { border: 1px dashed crimson }
input[type=checkbox], input[type=radio] { vertical-align: middle; position: relative; bottom: 2px }
label { display: block; margin-bottom: var(--size1); font-weight: 700 }
form * + label { margin-top: var(--size2) }
label > *:first-child { margin: var(--size1) 0 0 }
fieldset { padding: var(--size2); margin: 0 0 1rem }
select { padding: var(--size1) var(--size2) }
textarea { width: 100%; resize: vertical }
fieldset { max-width: -webkit-fill-available }
button,[role='button'], input[type='submit'], input[type='reset'], input[type='button'] { display: inline-block; margin: calc(var(--gap) * .5) calc(var(--gap) * .5) 0 0; line-height:1; text-decoration: none; background: var(--bg-button); border: 0; cursor: pointer }

/* Media */
img, picture, video, audio, canvas, svg { display: block; max-width: 100% }
figcaption { margin-top: 0 }
@media screen and (min-width: 40rem) {
  aside { float: right; width: 33.333%; margin-left: var(--gap); margin-bottom: var(--gap) }
}

/* Components */
.wrap-sm, .wrap-md, .wrap, .wrap-lg, .wrap-xl { margin-left: auto; margin-right: auto; padding: var(--size2) }
.wrap-sm { max-width: 30rem }
.wrap-md { max-width: 40rem }
.wrap { max-width: 60rem }
.wrap-lg { max-width: 80rem }
.wrap-xl { max-width: 120rem }

.toggle + * { display: none }
.toggle-hidden { position: absolute; left: -9999px }
.toggle:checked + * { display: block }

.topbar { border-bottom: 1px solid var(--border-color) }
.topbar-menu { display: flex; align-items: center }
.topbar-menu-brand { display: block; width: clamp(3em, 4em, 4em); height: clamp(3em, 4em, 4em); background: var(--logo) }
.topbar-menu-actions { flex-grow: 1; text-align: right }
.topbar-menu-actions, .topbar-tray { margin: 0 }

.logo { background: var(--logo) }

/* Display */
.dn { display: none }
.di { display: inline }
.db { display: block }
.dib { display: inline-block }
.dit { display: inline-table }
.dt { display: table }
.dtc { display: table-cell }
.dt-row { display: table-row }
.dt-row-group { display: table-row-group }
.dt-column { display: table-column }
.dt-column-group { display: table-column-group }
.dt--fixed { table-layout: fixed; width: 100% }

/* Floats */
.fn { float: none }
.fl { float: left }
.fr { float: right }
.cf { clear: both }

/* Flexbox */
.flex { display: flex }
.inline-flex { display: inline-flex }
.flex-auto { flex: 1 1 auto; min-width: 0; min-height: 0 }
.flex-none { flex: none }
.flex-column { flex-direction: column }
.flex-row { flex-direction: row }
.flex-wrap { flex-wrap: wrap }
.flex-nowrap { flex-wrap: nowrap }
.flex-wrap-reverse { flex-wrap: wrap-reverse }
.flex-column-reverse { flex-direction: column-reverse }
.flex-row-reverse { flex-direction: row-reverse }

.items-start { align-items: flex-start }
.items-end { align-items: flex-end }
.items-center { align-items: center }
.items-baseline { align-items: baseline }
.items-stretch { align-items: stretch }

.self-start { align-self: flex-start }
.self-end { align-self: flex-end }
.self-center { align-self: center }
.self-baseline { align-self: baseline }
.self-stretch { align-self: stretch }

.justify-start { justify-content: flex-start }
.justify-end { justify-content: flex-end }
.justify-center { justify-content: center }
.justify-between { justify-content: space-between }
.justify-around { justify-content: space-around }

.content-start { align-content: flex-start }
.content-end { align-content: flex-end }
.content-center { align-content: center }
.content-between { align-content: space-between }
.content-around { align-content: space-around }
.content-stretch { align-content: stretch }

.order-0 { order: 0 }
.order-1 { order: 1 }
.order-2 { order: 2 }
.order-3 { order: 3 }
.order-4 { order: 4 }
.order-5 { order: 5 }
.order-6 { order: 6 }
.order-7 { order: 7 }
.order-8 { order: 8 }
.order-last { order: 99999 }

.flex-grow-0 { flex-grow: 0 }
.flex-grow-1 { flex-grow: 1 }

.flex-shrink-0 { flex-shrink: 0 }
.flex-shrink-1 { flex-shrink: 1 }

/* Sizing */
.w-auto { width: auto }
.w-inherit { width: inherit }
.w-10 { width: 10% }
.w-20 { width: 20% }
.w-25 { width: 25% }
.w-30 { width: 30% }
.w-33 { width: 33.333% }
.w-50 { width: 50% }
.w-66 { width: 66.667% }
.w-70 { width: 70% }
.w-75 { width: 75% }
.w-80 { width: 80% }
.w-90 { width: 90% }
.w-100 { width: 100%}
.w1 { width: var(--size3) }
.w2 { width: var(--size4) }
.w3 { width: var(--size5) }
.w4 { width: var(--size6) }
.w5 { width: var(--size7) }

.mw-100 { max-width: 100% }
.mw-none { max-width: none }
.mw1 { max-width: var(--size3) }
.mw2 { max-width: var(--size4) }
.mw3 { max-width: var(--size5) }
.mw4 { max-width: var(--size6) }
.mw5 { max-width: var(--size7) }

.h-auto { height: auto }
.h-inherit { height: inherit }
.h-10 { height: 10% }
.h-20 { height: 20% }
.h-25 { height: 25% }
.h-30 { height: 30% }
.h-33 { height: 33.333% }
.h-50 { height: 50% }
.h-66 { height: 66.667% }
.h-70 { height: 70% }
.h-75 { height: 75% }
.h-80 { height: 80% }
.h-90 { height: 90% }
.h-100 { height: 100%}
.h1 { height: var(--size3) }
.h2 { height: var(--size4) }
.h3 { height: var(--size5) }
.h4 { height: var(--size6) }
.h5 { height: var(--size7) }

.vh-25 {  height:  25vh }
.vh-50 {  height:  50vh }
.vh-75 {  height:  75vh }
.vh-100 { height: 100vh }
.min-vh-100 { min-height: 100vh }

/* Spacing */
.ma0 { margin: 0 }
.ma1 { margin: var(--size1) }
.ma2 { margin: var(--size2) }
.ma3 { margin: var(--size3) }
.ma4 { margin: var(--size4) }
.ma5 { margin: var(--size5) }
.ma6 { margin: var(--size6) }
.ma7 { margin: var(--size7) }
.center { margin-right: auto; margin-left: auto }

.mv0 { margin-top: 0; margin-bottom: 0 }
.mv1 { margin-top: var(--size1); margin-bottom: var(--size1) }
.mv2 { margin-top: var(--size2); margin-bottom: var(--size2) }
.mv3 { margin-top: var(--size3); margin-bottom: var(--size3) }
.mv4 { margin-top: var(--size4); margin-bottom: var(--size4) }
.mv5 { margin-top: var(--size5); margin-bottom: var(--size5) }
.mv6 { margin-top: var(--size6); margin-bottom: var(--size6) }
.mv7 { margin-top: var(--size7); margin-bottom: var(--size7) }

.mh0 { margin-right: 0; margin-left: 0 }
.mh1 { margin-right: var(--size1); margin-left: var(--size1) }
.mh2 { margin-right: var(--size2); margin-left: var(--size2) }
.mh3 { margin-right: var(--size3); margin-left: var(--size3) }
.mh4 { margin-right: var(--size4); margin-left: var(--size4) }
.mh5 { margin-right: var(--size5); margin-left: var(--size5) }
.mh6 { margin-right: var(--size6); margin-left: var(--size6) }
.mh7 { margin-right: var(--size7); margin-left: var(--size7) }

.mt0 { margin-top: 0 }
.mt1 { margin-top: var(--size1) }
.mt2 { margin-top: var(--size2) }
.mt3 { margin-top: var(--size3) }
.mt4 { margin-top: var(--size4) }
.mt5 { margin-top: var(--size5) }
.mt6 { margin-top: var(--size6) }
.mt7 { margin-top: var(--size7) }

.mr0 { margin-right: 0 }
.mr1 { margin-right: var(--size1) }
.mr2 { margin-right: var(--size2) }
.mr3 { margin-right: var(--size3) }
.mr4 { margin-right: var(--size4) }
.mr5 { margin-right: var(--size5) }
.mr6 { margin-right: var(--size6) }
.mr7 { margin-right: var(--size7) }

.mb0 { margin-bottom: 0 }
.mb1 { margin-bottom: var(--size1) }
.mb2 { margin-bottom: var(--size2) }
.mb3 { margin-bottom: var(--size3) }
.mb4 { margin-bottom: var(--size4) }
.mb5 { margin-bottom: var(--size5) }
.mb6 { margin-bottom: var(--size6) }
.mb7 { margin-bottom: var(--size7) }

.ml0 { margin-left: 0 }
.ml1 { margin-left: var(--size1) }
.ml2 { margin-left: var(--size2) }
.ml3 { margin-left: var(--size3) }
.ml4 { margin-left: var(--size4) }
.ml5 { margin-left: var(--size5) }
.ml6 { margin-left: var(--size6) }
.ml7 { margin-left: var(--size7) }

.pa0 { padding: 0 }
.pa1 { padding: var(--size1) }
.pa2 { padding: var(--size2) }
.pa3 { padding: var(--size3) }
.pa4 { padding: var(--size4) }
.pa5 { padding: var(--size5) }
.pa6 { padding: var(--size6) }
.pa7 { padding: var(--size7) }

.pv0 { padding-top: 0; padding-bottom: 0 }
.pv1 { padding-top: var(--size1); padding-bottom: var(--size1) }
.pv2 { padding-top: var(--size2); padding-bottom: var(--size2) }
.pv3 { padding-top: var(--size3); padding-bottom: var(--size3) }
.pv4 { padding-top: var(--size4); padding-bottom: var(--size4) }
.pv5 { padding-top: var(--size5); padding-bottom: var(--size5) }
.pv6 { padding-top: var(--size6); padding-bottom: var(--size6) }
.pv7 { padding-top: var(--size7); padding-bottom: var(--size7) }

.ph0 { padding-right: 0; padding-left: 0 }
.ph1 { padding-right: var(--size1); padding-left: var(--size1) }
.ph2 { padding-right: var(--size2); padding-left: var(--size2) }
.ph3 { padding-right: var(--size3); padding-left: var(--size3) }
.ph4 { padding-right: var(--size4); padding-left: var(--size4) }
.ph5 { padding-right: var(--size5); padding-left: var(--size5) }
.ph6 { padding-right: var(--size6); padding-left: var(--size6) }
.ph7 { padding-right: var(--size7); padding-left: var(--size7) }

.pt0 { padding-top: 0 }
.pt1 { padding-top: var(--size1) }
.pt2 { padding-top: var(--size2) }
.pt3 { padding-top: var(--size3) }
.pt4 { padding-top: var(--size4) }
.pt5 { padding-top: var(--size5) }
.pt6 { padding-top: var(--size6) }
.pt7 { padding-top: var(--size7) }

.pr0 { padding-right: 0 }
.pr1 { padding-right: var(--size1) }
.pr2 { padding-right: var(--size2) }
.pr3 { padding-right: var(--size3) }
.pr4 { padding-right: var(--size4) }
.pr5 { padding-right: var(--size5) }
.pr6 { padding-right: var(--size6) }
.pr7 { padding-right: var(--size7) }

.pb0 { padding-bottom: 0 }
.pb1 { padding-bottom: var(--size1) }
.pb2 { padding-bottom: var(--size2) }
.pb3 { padding-bottom: var(--size3) }
.pb4 { padding-bottom: var(--size4) }
.pb5 { padding-bottom: var(--size5) }
.pb6 { padding-bottom: var(--size6) }
.pb7 { padding-bottom: var(--size7) }

.pl0 { padding-left: 0 }
.pl1 { padding-left: var(--size1) }
.pl2 { padding-left: var(--size2) }
.pl3 { padding-left: var(--size3) }
.pl4 { padding-left: var(--size4) }
.pl5 { padding-left: var(--size5) }
.pl6 { padding-left: var(--size6) }
.pl7 { padding-left: var(--size7) }

/* Text */
.f1 { font-size: var(--fontsize1) }
.f2 { font-size: var(--fontsize2) }
.f3 { font-size: var(--fontsize3) }
.f4 { font-size: var(--fontsize4) }
.f5 { font-size: var(--fontsize5) }
.f6 { font-size: var(--fontsize6) }
.f7 { font-size: var(--fontsize7) }

.fw1 { font-weight: 100 }
.fw2 { font-weight: 200 }
.fw3 { font-weight: 300 }
.fw4 { font-weight: 400 }
.fw5 { font-weight: 500 }
.fw6 { font-weight: 600 }
.fw7 { font-weight: 700 }
.fw8 { font-weight: 800 }
.fw9 { font-weight: 900 }

.tl { text-align: left }
.tr { text-align: right }
.tc { text-align: center }
.tj { text-align: justify }

.ttc { text-transform: capitalize }
.ttl { text-transform: lowercase }
.ttu { text-transform: uppercase }
.ttn { text-transform: none }

.lh-solid { line-height: var(--lh-solid) }
.lh-title { line-height: var(--lh-title) }
.lh-copy  { line-height: var(--lh-copy) }

.i { font-style: italic }

.ba { border-style: solid; border-width: 1px }
.bt { border-top-style: solid; border-top-width: 1px }
.br { border-right-style: solid; border-right-width: 1px }
.bb { border-bottom-style: solid; border-bottom-width: 1px }
.bl { border-left-style: solid; border-left-width: 1px }
.bn { border-style: none; border-width: 0 }

.bw0 { border-width: 0 }
.bw1 { border-width: var(--size0) }
.bw2 { border-width: var(--size1) }
.bw3 { border-width: var(--size2) }
.bw4 { border-width: var(--size3) }

.br0 { border-radius: 0 }
.br1 { border-radius: var(--size0) }
.br2 { border-radius: var(--size1) }
.br3 { border-radius: var(--size2) }
.br4 { border-radius: var(--size3) }
.br-100 { border-radius: 100% }

.br--bottom { border-top-left-radius: 0; border-top-right-radius: 0 }
.br--top { border-bottom-left-radius: 0; border-bottom-right-radius: 0 }
.br--right { border-top-left-radius: 0; border-bottom-left-radius: 0 }
.br--left  { border-top-right-radius: 0; border-bottom-right-radius: 0 }

.black { color: black }
.blue { color: blue }
.gold { color: gold }
.gray { color: dimgray }
.green { color: forestgreen }
.lightblue { color: lightcyan }
.midblue { color: dodgerblue }
.nearwhite { color: ivory }
.orange { color: darkorange }
.purple { color: darkviolet }
.red { color: crimson }
.silver { color: silver }
.white { color: snow }

.bg-black { background-color: black }
.bg-blue { background-color: blue }
.bg-gold { background-color: gold }
.bg-gray { background-color: dimgray }
.bg-green { background-color: forestgreen }
.bg-lightblue { background-color: lightcyan }
.bg-midblue { background-color: dodgerblue }
.bg-nearwhite { background-color: ivory }
.bg-orange { background-color: darkorange }
.bg-purple { background-color: darkviolet }
.bg-red { background-color: crimson }
.bg-silver { background-color: silver }
.bg-white { background-color: snow }

.b--black { border-color: black }
.b--blue { border-color: blue }
.b--gold { border-color: gold }
.b--gray { border-color: dimgray }
.b--green { border-color: forestgreen }
.b--lightblue { border-color: lightcyan }
.b--midblue { border-color: dodgerblue }
.b--nearwhite { border-color: ivory }
.b--orange { border-color: darkorange }
.b--purple { border-color: darkviolet }
.b--red { border-color: crimson }
.b--silver { border-color: silver }
.b--white { border-color: snow }

.o-100 { opacity: 1 }
.o-90 { opacity: .9 }
.o-80 { opacity: .8 }
.o-70 { opacity: .7 }
.o-60 { opacity: .6 }
.o-50 { opacity: .5 }
.o-40 { opacity: .4 }
.o-30 { opacity: .3 }
.o-20 { opacity: .2 }
.o-10 { opacity: .1 }
.o-05 { opacity: .05 }
.o-025 { opacity: .025 }
.o-0 { opacity: 0 }

@media screen and (min-width: 64em) {
/* Display */
  .dn-l { display: none }
  .di-l { display: inline }
  .db-l { display: block }
  .dib-l { display: inline-block }
  .dit-l { display: inline-table }
  .dt-l { display: table }
  .dtc-l { display: table-cell }
  .dt-row-l { display: table-row }
  .dt-row-group-l { display: table-row-group }
  .dt-column-l { display: table-column }
  .dt-column-group-l { display: table-column-group }
  .dt--fixed-l { table-layout: fixed; width: 100% }

/* Floats */
  .fn-l { float: none }
  .fl-l { float: left }
  .fr-l { float: right }
  .cf-l { clear: both }

/* Flexbox */
  .flex-l { display: flex }
  .inline-flex-l { display: inline-flex }
  .flex-auto-l { flex: 1 1 auto; min-width: 0; min-height: 0 }
  .flex-none-l { flex: none }
  .flex-column-l { flex-direction: column }
  .flex-row-l { flex-direction: row }
  .flex-wrap-l { flex-wrap: wrap }
  .flex-nowrap-l { flex-wrap: nowrap }
  .flex-wrap-reverse-l { flex-wrap: wrap-reverse }
  .flex-column-reverse-l { flex-direction: column-reverse }
  .flex-row-reverse-l { flex-direction: row-reverse }

  .items-start-l { align-items: flex-start }
  .items-end-l { align-items: flex-end }
  .items-center-l { align-items: center }
  .items-baseline-l { align-items: baseline }
  .items-stretch-l { align-items: stretch }

  .self-start-l { align-self: flex-start }
  .self-end-l { align-self: flex-end }
  .self-center-l { align-self: center }
  .self-baseline-l { align-self: baseline }
  .self-stretch-l { align-self: stretch }

  .justify-start-l { justify-content: flex-start }
  .justify-end-l { justify-content: flex-end }
  .justify-center-l { justify-content: center }
  .justify-between-l { justify-content: space-between }
  .justify-around-l { justify-content: space-around }

  .content-start-l { align-content: flex-start }
  .content-end-l { align-content: flex-end }
  .content-center-l { align-content: center }
  .content-between-l { align-content: space-between }
  .content-around-l { align-content: space-around }
  .content-stretch-l { align-content: stretch }

  .order-0-l { order: 0 }
  .order-1-l { order: 1 }
  .order-2-l { order: 2 }
  .order-3-l { order: 3 }
  .order-4-l { order: 4 }
  .order-5-l { order: 5 }
  .order-6-l { order: 6 }
  .order-7-l { order: 7 }
  .order-8-l { order: 8 }
  .order-last-l { order: 99999 }

  .flex-grow-0-l { flex-grow: 0 }
  .flex-grow-1-l { flex-grow: 1 }

  .flex-shrink-0-l { flex-shrink: 0 }
  .flex-shrink-1-l { flex-shrink: 1 }

/* Sizing */
  .w-auto-l { width: auto }
  .w-inherit-l { width: inherit }
  .w-10-l { width: 10% }
  .w-20-l { width: 20% }
  .w-25-l { width: 25% }
  .w-30-l { width: 30% }
  .w-33-l { width: 33.333% }
  .w-50-l { width: 50% }
  .w-66-l { width: 66.667% }
  .w-70-l { width: 70% }
  .w-75-l { width: 75% }
  .w-80-l { width: 80% }
  .w-90-l { width: 90% }
  .w-100-l { width: 100%}
  .w1-l { width: var(--size3) }
  .w2-l { width: var(--size4) }
  .w3-l { width: var(--size5) }
  .w4-l { width: var(--size6) }
  .w5-l { width: var(--size7) }

  .mw-100-l { max-width: 100% }
  .mw-none-l { max-width: none }
  .mw1-l { max-width: var(--size3) }
  .mw2-l { max-width: var(--size4) }
  .mw3-l { max-width: var(--size5) }
  .mw4-l { max-width: var(--size6) }
  .mw5-l { max-width: var(--size7) }

  .h-auto-l { height: auto }
  .h-inherit-l { height: inherit }
  .h-10-l { height: 10% }
  .h-20-l { height: 20% }
  .h-25-l { height: 25% }
  .h-30-l { height: 30% }
  .h-33-l { height: 33.333% }
  .h-50-l { height: 50% }
  .h-66-l { height: 66.667% }
  .h-70-l { height: 70% }
  .h-75-l { height: 75% }
  .h-80-l { height: 80% }
  .h-90-l { height: 90% }
  .h-100-l { height: 100%}
  .h1-l { height: var(--size3) }
  .h2-l { height: var(--size4) }
  .h3-l { height: var(--size5) }
  .h4-l { height: var(--size6) }
  .h5-l { height: var(--size7) }

  .vh-25-l {  height:  25vh }
  .vh-50-l {  height:  50vh }
  .vh-75-l {  height:  75vh }
  .vh-100-l { height: 100vh }
  .min-vh-100-l { min-height: 100vh }

/* Spacing */
  .ma0-l { margin: 0 }
  .ma1-l { margin: var(--size1) }
  .ma2-l { margin: var(--size2) }
  .ma3-l { margin: var(--size3) }
  .ma4-l { margin: var(--size4) }
  .ma5-l { margin: var(--size5) }
  .ma6-l { margin: var(--size6) }
  .ma7-l { margin: var(--size7) }
  .center-l { margin-right: auto; margin-left: auto }

  .mv0-l { margin-top: 0; margin-bottom: 0 }
  .mv1-l { margin-top: var(--size1); margin-bottom: var(--size1) }
  .mv2-l { margin-top: var(--size2); margin-bottom: var(--size2) }
  .mv3-l { margin-top: var(--size3); margin-bottom: var(--size3) }
  .mv4-l { margin-top: var(--size4); margin-bottom: var(--size4) }
  .mv5-l { margin-top: var(--size5); margin-bottom: var(--size5) }
  .mv6-l { margin-top: var(--size6); margin-bottom: var(--size6) }
  .mv7-l { margin-top: var(--size7); margin-bottom: var(--size7) }

  .mh0-l { margin-right: 0; margin-left: 0 }
  .mh1-l { margin-right: var(--size1); margin-left: var(--size1) }
  .mh2-l { margin-right: var(--size2); margin-left: var(--size2) }
  .mh3-l { margin-right: var(--size3); margin-left: var(--size3) }
  .mh4-l { margin-right: var(--size4); margin-left: var(--size4) }
  .mh5-l { margin-right: var(--size5); margin-left: var(--size5) }
  .mh6-l { margin-right: var(--size6); margin-left: var(--size6) }
  .mh7-l { margin-right: var(--size7); margin-left: var(--size7) }

  .mt0-l { margin-top: 0 }
  .mt1-l { margin-top: var(--size1) }
  .mt2-l { margin-top: var(--size2) }
  .mt3-l { margin-top: var(--size3) }
  .mt4-l { margin-top: var(--size4) }
  .mt5-l { margin-top: var(--size5) }
  .mt6-l { margin-top: var(--size6) }
  .mt7-l { margin-top: var(--size7) }

  .mr0-l { margin-right: 0 }
  .mr1-l { margin-right: var(--size1) }
  .mr2-l { margin-right: var(--size2) }
  .mr3-l { margin-right: var(--size3) }
  .mr4-l { margin-right: var(--size4) }
  .mr5-l { margin-right: var(--size5) }
  .mr6-l { margin-right: var(--size6) }
  .mr7-l { margin-right: var(--size7) }

  .mb0-l { margin-bottom: 0 }
  .mb1-l { margin-bottom: var(--size1) }
  .mb2-l { margin-bottom: var(--size2) }
  .mb3-l { margin-bottom: var(--size3) }
  .mb4-l { margin-bottom: var(--size4) }
  .mb5-l { margin-bottom: var(--size5) }
  .mb6-l { margin-bottom: var(--size6) }
  .mb7-l { margin-bottom: var(--size7) }

  .ml0-l { margin-left: 0 }
  .ml1-l { margin-left: var(--size1) }
  .ml2-l { margin-left: var(--size2) }
  .ml3-l { margin-left: var(--size3) }
  .ml4-l { margin-left: var(--size4) }
  .ml5-l { margin-left: var(--size5) }
  .ml6-l { margin-left: var(--size6) }
  .ml7-l { margin-left: var(--size7) }

  .pa0-l { padding: 0 }
  .pa1-l { padding: var(--size1) }
  .pa2-l { padding: var(--size2) }
  .pa3-l { padding: var(--size3) }
  .pa4-l { padding: var(--size4) }
  .pa5-l { padding: var(--size5) }
  .pa6-l { padding: var(--size6) }
  .pa7-l { padding: var(--size7) }

  .pv0-l { padding-top: 0; padding-bottom: 0 }
  .pv1-l { padding-top: var(--size1); padding-bottom: var(--size1) }
  .pv2-l { padding-top: var(--size2); padding-bottom: var(--size2) }
  .pv3-l { padding-top: var(--size3); padding-bottom: var(--size3) }
  .pv4-l { padding-top: var(--size4); padding-bottom: var(--size4) }
  .pv5-l { padding-top: var(--size5); padding-bottom: var(--size5) }
  .pv6-l { padding-top: var(--size6); padding-bottom: var(--size6) }
  .pv7-l { padding-top: var(--size7); padding-bottom: var(--size7) }

  .ph0-l { padding-right: 0; padding-left: 0 }
  .ph1-l { padding-right: var(--size1); padding-left: var(--size1) }
  .ph2-l { padding-right: var(--size2); padding-left: var(--size2) }
  .ph3-l { padding-right: var(--size3); padding-left: var(--size3) }
  .ph4-l { padding-right: var(--size4); padding-left: var(--size4) }
  .ph5-l { padding-right: var(--size5); padding-left: var(--size5) }
  .ph6-l { padding-right: var(--size6); padding-left: var(--size6) }
  .ph7-l { padding-right: var(--size7); padding-left: var(--size7) }

  .pt0-l { padding-top: 0 }
  .pt1-l { padding-top: var(--size1) }
  .pt2-l { padding-top: var(--size2) }
  .pt3-l { padding-top: var(--size3) }
  .pt4-l { padding-top: var(--size4) }
  .pt5-l { padding-top: var(--size5) }
  .pt6-l { padding-top: var(--size6) }
  .pt7-l { padding-top: var(--size7) }

  .pr0-l { padding-right: 0 }
  .pr1-l { padding-right: var(--size1) }
  .pr2-l { padding-right: var(--size2) }
  .pr3-l { padding-right: var(--size3) }
  .pr4-l { padding-right: var(--size4) }
  .pr5-l { padding-right: var(--size5) }
  .pr6-l { padding-right: var(--size6) }
  .pr7-l { padding-right: var(--size7) }

  .pb0-l { padding-bottom: 0 }
  .pb1-l { padding-bottom: var(--size1) }
  .pb2-l { padding-bottom: var(--size2) }
  .pb3-l { padding-bottom: var(--size3) }
  .pb4-l { padding-bottom: var(--size4) }
  .pb5-l { padding-bottom: var(--size5) }
  .pb6-l { padding-bottom: var(--size6) }
  .pb7-l { padding-bottom: var(--size7) }

  .pl0-l { padding-left: 0 }
  .pl1-l { padding-left: var(--size1) }
  .pl2-l { padding-left: var(--size2) }
  .pl3-l { padding-left: var(--size3) }
  .pl4-l { padding-left: var(--size4) }
  .pl5-l { padding-left: var(--size5) }
  .pl6-l { padding-left: var(--size6) }
  .pl7-l { padding-left: var(--size7) }

/* Text */
  .f1-l { font-size: var(--fontsize1) }
  .f2-l { font-size: var(--fontsize2) }
  .f3-l { font-size: var(--fontsize3) }
  .f4-l { font-size: var(--fontsize4) }
  .f5-l { font-size: var(--fontsize5) }
  .f6-l { font-size: var(--fontsize6) }
  .f7-l { font-size: var(--fontsize7) }

  .fw1-l { font-weight: 100 }
  .fw2-l { font-weight: 200 }
  .fw3-l { font-weight: 300 }
  .fw4-l { font-weight: 400 }
  .fw5-l { font-weight: 500 }
  .fw6-l { font-weight: 600 }
  .fw7-l { font-weight: 700 }
  .fw8-l { font-weight: 800 }
  .fw9-l { font-weight: 900 }

  .tl-l { text-align: left }
  .tr-l { text-align: right }
  .tc-l { text-align: center }
  .tj-l { text-align: justify }

  .ttc-l { text-transform: capitalize }
  .ttl-l { text-transform: lowercase }
  .ttu-l { text-transform: uppercase }
  .ttn-l { text-transform: none }

  .lh-solid-l { line-height: var(--lh-solid) }
  .lh-title-l { line-height: var(--lh-title) }
  .lh-copy-l  { line-height: var(--lh-copy) }

  .i-l { font-style: italic }

  .ba-l { border-style: solid; border-width: 1px }
  .bt-l { border-top-style: solid; border-top-width: 1px }
  .br-l { border-right-style: solid; border-right-width: 1px }
  .bb-l { border-bottom-style: solid; border-bottom-width: 1px }
  .bl-l { border-left-style: solid; border-left-width: 1px }
  .bn-l { border-style: none; border-width: 0 }

  .bw0-l { border-width: 0 }
  .bw1-l { border-width: var(--size0) }
  .bw2-l { border-width: var(--size1) }
  .bw3-l { border-width: var(--size2) }
  .bw4-l { border-width: var(--size3) }

  .br0-l { border-radius: 0 }
  .br1-l { border-radius: var(--size0) }
  .br2-l { border-radius: var(--size1) }
  .br3-l { border-radius: var(--size2) }
  .br4-l { border-radius: var(--size3) }
  .br-100-l { border-radius: 100% }

  .br--bottom-l { border-top-left-radius: 0; border-top-right-radius: 0 }
  .br--top-l { border-bottom-left-radius: 0; border-bottom-right-radius: 0 }
  .br--right-l { border-top-left-radius: 0; border-bottom-left-radius: 0 }
  .br--left-l  { border-top-right-radius: 0; border-bottom-right-radius: 0 }

  .black-l { color: black }
  .blue-l { color: blue }
  .gold-l { color: gold }
  .gray-l { color: dimgray }
  .green-l { color: forestgreen }
  .lightblue-l { color: lightcyan }
  .midblue-l { color: dodgerblue }
  .nearwhite-l { color: ivory }
  .orange-l { color: darkorange }
  .purple-l { color: darkviolet }
  .red-l { color: crimson }
  .silver-l { color: silver }
  .white-l { color: snow }

  .bg-black-l { background-color: black }
  .bg-blue-l { background-color: blue }
  .bg-gold-l { background-color: gold }
  .bg-gray-l { background-color: dimgray }
  .bg-green-l { background-color: forestgreen }
  .bg-lightblue-l { background-color: lightcyan }
  .bg-midblue-l { background-color: dodgerblue }
  .bg-nearwhite-l { background-color: ivory }
  .bg-orange-l { background-color: darkorange }
  .bg-purple-l { background-color: darkviolet }
  .bg-red-l { background-color: crimson }
  .bg-silver-l { background-color: silver }
  .bg-white-l { background-color: snow }

  .b--black-l { border-color: black }
  .b--blue-l { border-color: blue }
  .b--gold-l { border-color: gold }
  .b--gray-l { border-color: dimgray }
  .b--green-l { border-color: forestgreen }
  .b--lightblue-l { border-color: lightcyan }
  .b--midblue-l { border-color: dodgerblue }
  .b--nearwhite-l { border-color: ivory }
  .b--orange-l { border-color: darkorange }
  .b--purple-l { border-color: darkviolet }
  .b--red-l { border-color: crimson }
  .b--silver-l { border-color: silver }
  .b--white-l { border-color: snow }

  .o-100-l { opacity: 1 }
  .o-90-l { opacity: .9 }
  .o-80-l { opacity: .8 }
  .o-70-l { opacity: .7 }
  .o-60-l { opacity: .6 }
  .o-50-l { opacity: .5 }
  .o-40-l { opacity: .4 }
  .o-30-l { opacity: .3 }
  .o-20-l { opacity: .2 }
  .o-10-l { opacity: .1 }
  .o-05-l { opacity: .05 }
  .o-025-l { opacity: .025 }
  .o-0-l { opacity: 0 }
}
